.main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 90vh;
}


.leftGraphic{
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}


.rightForm{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.activeMode{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.activeMode label{
    margin: 2vw;
    color: #ffffff;
    padding: 2vh 4vw;
    font-size: 4vh;
    border-radius: 25px;
}

.activeMode label:first-child{
    background: #1F2025;
    box-shadow: 0 3px 10px #1F2025;
}

.activeMode label:last-child{
    box-shadow: 0 3px 10px #C991DD;
    background: #C991DD;
}

.heading{
    color: white;
    font-size: 8vh;
}

.signupForm{
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.signupForm input{
    width: 80%;
    height: 6vh;
    background: #D9D9D9;
    color:#191919;
    font-size: 3vh;
    font-weight: 700;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding-left: 2vw;
    border-radius: 15px;
}

.signupButton, .googleButton{
    background: #D9D9D9;
    width:80%;
    height: 6vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    color: black;
    font-size: 3vh;
    font-weight: 700;
    border-radius: 15px;
}

.divider{
    width: 80%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    color: white;
}

.googleButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;

}

.googleButton h1{
    margin-left: 1vw;
    font-size: 3vh;
    font-weight: 700;
    color: black;
}

.errorBox {
    position: fixed;
    z-index: 10;
    background-color: #ff5252; /* A shade of red */
    color: #fff; /* White text */
    bottom: 2rem; /* Adjusted spacing from the bottom */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    padding: 1.5rem; /* Adjusted padding for better aesthetics */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
    max-width: 400px; /* Set a maximum width */
    width: 90%; /* Responsive width */
    text-align: center; /* Center text */
    transition: opacity 0.3s ease-in-out; /* Smooth transition */
}


